# List

- List is nothing but collection of different types of data like array in C language
- List represented by [] braces
- List is mutable

In [1]:
l = []
type(l),l

(list, [])

In [2]:
l = [1,2,'hello',3.4,True,[1,2,3]]
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

### Indexing in list

In [3]:
l[0]

1

In [4]:
l[-1]

[1, 2, 3]

In [5]:
l[-2]

True

In [6]:
l[10]

IndexError: list index out of range

In [7]:
l[-1][-1]

3

### Slicing

In [8]:
l

[1, 2, 'hello', 3.4, True, [1, 2, 3]]

In [9]:
l[2:4]

['hello', 3.4]

In [11]:
l[-2:] # last two elements in the list

[True, [1, 2, 3]]

In [12]:
l[::-1] # reverse of a list

[[1, 2, 3], True, 3.4, 'hello', 2, 1]

In [13]:
l[-1][::-1]

[3, 2, 1]

In [14]:
l[::-2]

[[1, 2, 3], 3.4, 2]

In [15]:
l[0]=10 # to modify the list
l

[10, 2, 'hello', 3.4, True, [1, 2, 3]]

In [16]:
del l[0] # to change the list
l

[2, 'hello', 3.4, True, [1, 2, 3]]

In [17]:
l[1]=-8
l

[2, -8, 3.4, True, [1, 2, 3]]

In [18]:
marks = [2,3,1,6,4]
min(marks)

1

In [19]:
max(marks)

6

In [20]:
sum(marks)

16

In [21]:
sorted(marks)

[1, 2, 3, 4, 6]

In [22]:
sorted(marks,reverse=True)

[6, 4, 3, 2, 1]

In [24]:
avg = sum(marks)//len(marks) # average of a list
avg

3

In [25]:
marks + [10,20]

[2, 3, 1, 6, 4, 10, 20]

In [26]:
a=marks*2
a # it returns two times of the same list

[2, 3, 1, 6, 4, 2, 3, 1, 6, 4]

In [27]:
a

[2, 3, 1, 6, 4, 2, 3, 1, 6, 4]

### List Methods

In [29]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [30]:
marks.append(10) # to dynamically add the value to the list
marks

[2, 3, 1, 6, 4, 10]

In [31]:
marks.extend([20,30])
marks

[2, 3, 1, 6, 4, 10, 20, 30]

In [32]:
del marks[9:]
marks

[2, 3, 1, 6, 4, 10, 20, 30]

In [33]:
marks.pop()

30

In [34]:
marks

[2, 3, 1, 6, 4, 10, 20]

In [35]:
marks.pop(0)

2

In [36]:
marks

[3, 1, 6, 4, 10, 20]

In [38]:
marks.insert(5,8) # inserted at a specified index (index, value)

In [39]:
marks

[3, 1, 6, 4, 10, 8, 8, 20]

In [40]:
marks.index(8)

5

In [41]:
marks.index('y')

ValueError: 'y' is not in list

In [42]:
marks.reverse()
marks

[20, 8, 8, 10, 4, 6, 1, 3]

In [43]:
marks.sort()
marks

[1, 3, 4, 6, 8, 8, 10, 20]

In [44]:
marks.count(10),marks.count(8)

(1, 2)

In [45]:
marks.count(-1)

0

In [46]:
marks2=marks.copy()
marks2

[1, 3, 4, 6, 8, 8, 10, 20]

In [47]:
marks

[1, 3, 4, 6, 8, 8, 10, 20]

In [48]:
marks.clear()
marks

[]

In [49]:
marks=marks2.copy()
marks2.clear()

In [50]:
marks

[1, 3, 4, 6, 8, 8, 10, 20]

In [51]:
for item in marks:
    print(item)

1
3
4
6
8
8
10
20

In [52]:
item = 0
while item<len(marks):
    print(marks[item])
    item+=1

1
3
4
6
8
8
10
20

In [53]:
item=s=0
while item<len(marks):
    print(marks[item])
    item+=1
print(s)

1
3
4
6
8
8
10
20
0

In [55]:
# to print the names starts with 's'
names=['prasad','anil kumar','sai kumar','sarath kumar']
for name in names:
    if name.startswith('s'):
        print(name)

sai kumar
sarath kumar

In [56]:
# to print the names ends with 'r'
names = 'prasad anil_kumar sai_kumar sarath_kumar'
names_list = names.split()
for name in names_list:
    if name.endswith('r'):
        print(name)

anil_kumar
sai_kumar
sarath_kumar

In [57]:
# to print the string which has max length
names = 'prasad anil_kumar sai_kumar sarath_kumar'
names_list = names.split()
l = []
for name in names_list:
    l.append(len(name))
    a = max(l)
    if len(name)==a:
        n=name
print(n)

sarath_kumar

In [58]:
print(max(a))

TypeError: 'int' object is not iterable

In [60]:
# print the strings which ends with a,e,i,o,u
names='prasad sai hari srinu balu'
names_list=names.split(" ")
for name in names_list:
    if name.endswith(('a','e','i','o','u')):
        print(name,end=" ")

sai hari srinu balu

In [62]:
#given list of strings are palindrome or not
names='prasad sai sarath anil manam mam uppu'
names_list=names.split(" ")
for name in names_list:
    r=name[::-1]
    if r==name:
        print (name,'Palindrome')
    else:
        print(name,'Not Palindrome')

prasad Not Palindrome
sai Not Palindrome
sarath Not Palindrome
anil Not Palindrome
manam Palindrome
mam Palindrome
uppu Palindrome

In [63]:
#given string is palindrome or not
names=input()
r=names[::-1]
if r==names:
     print ('Palindrome')
else:
    print('Not Palindrome')

manam
Palindrome

In [64]:
# to change the string from one case to another
name=input()
name.swapcase()

PrAsAd

'pRaSaD'

# Tuple

- tuple is a immutable data type in python
- it is also like list but it cant change once created
- it is represented by () symbol

In [66]:
t = tuple()
t

()

In [67]:
type(t)

tuple

In [68]:
ages = (20,21,40)
ages,type(ages)

((20, 21, 40), tuple)

### Indexing in Tuple

In [69]:
ages[0]

20

In [70]:
ages[-1]

40

In [71]:
ages[:2]

(20, 21)

In [72]:
ages[::-1]

(40, 21, 20)

In [73]:
del ages[0] # we can't remove any element in the tuple

TypeError: 'tuple' object doesn't support item deletion

In [74]:
ages[0]=10 #we can't modify any element in the tuple

TypeError: 'tuple' object does not support item assignment

In [75]:
len(ages)

3

In [76]:
min(ages)

20

In [77]:
max(ages)

40

In [78]:
sum(ages)

81

In [79]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [80]:
ages.index(20)

0

In [81]:
ages.count(20)

1

In [82]:
x,y,z=ages

In [83]:
print(x,y,z)

20 21 40

In [84]:
ages

(20, 21, 40)

In [85]:
a=1,2,3
a,type(a)

((1, 2, 3), tuple)

In [86]:
for item in ages:
    print(item)

20
21
40

In [87]:
for item in ages[::-1]:
    print(item)

40
21
20

In [88]:
# print yes if the given two strings have same characters
a = input()
b = input()
a.sorted(a)
b.sorted(b)
if a == b:
    print('YES')
else:
    print('NO')

aab
aba

AttributeError: 'str' object has no attribute 'sorted'

In [89]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Set

- Set removes duplication
- Set is mutable

In [90]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [91]:
s = {1,2,1,3,1,4,5,43}
s

{1, 2, 3, 4, 5, 43}

In [92]:
len(s)

6

In [93]:
min(s)

1

In [94]:
max(s)

43

In [95]:
sum(s)

58

In [96]:
s.add(10)
s

{1, 2, 3, 4, 5, 10, 43}

In [97]:
s.pop()

1

In [98]:
s.add(10)

In [99]:
s

{2, 3, 4, 5, 10, 43}

In [100]:
s.pop()

2

In [101]:
s.remove(2)

KeyError: 2

In [102]:
s

{3, 4, 5, 10, 43}

In [103]:
a = {1,2}
b = {3,4}
a.union(b)

{1, 2, 3, 4}

In [104]:
a.intersection(b)

set()

In [105]:
b.difference(a)

{3, 4}

In [106]:
a,b
a={1,2,3,4}
b={3,4,5,6}

In [107]:
a.difference_update(b)
a,b

({1, 2}, {3, 4, 5, 6})

In [108]:
c={1}
c

{1}

In [109]:
c.issubset(a),a,c

(True, {1, 2}, {1})

In [110]:
a.isdisjoint(c)

False

In [111]:
a.issuperset(c)

True

In [112]:
# to print duplicate characters in the given strings
s = 'prasad anil sai sarath'
s1 = s.split()
p = {}
p = s1
print(p)

['prasad', 'anil', 'sai', 'sarath']

In [113]:
s = {'prasad,anil,sai,sarath'}