# Regular Expressions

- A Regular Expression

In [1]:
import re

In [2]:
# match(pattern,text)
re.match('a','apple')

In [3]:
print(re.match('a','apple'))

<re.Match object; span=(0, 1), match='a'>

In [4]:
print(re.match('a','hai'))

None

In [5]:
re.search('a','haii')

In [6]:
re.search('aii','haii')

In [7]:
re.findall('[abcde]','hello hai how are you')

['e', 'a', 'a', 'e']

In [8]:
re.search('[abcde]','hello hai how are you')

In [10]:
re.match('[abcde]','hello hai how are you')

In [11]:
re.search('[a-e]','hello hai how are you')

In [12]:
re.findall('[a-e]','hello hai how are you')

['e', 'a', 'a', 'e']

In [13]:
re.findall('[a-m]','hello hai how are you')

['h', 'e', 'l', 'l', 'h', 'a', 'i', 'h', 'a', 'e']

In [14]:
re.findall('[a-z]','hello hai how are you')

['h',
 'e',
 'l',
 'l',
 'o',
 'h',
 'a',
 'i',
 'h',
 'o',
 'w',
 'a',
 'r',
 'e',
 'y',
 'o',
 'u']

In [15]:
roll_no = '16811A0563'
re.findall('[0-9]', roll_no)

['1', '6', '8', '1', '1', '0', '5', '6', '3']

In [16]:
import re # importing regular expressions module
def find_by_pattern(pattern):
    names = ['uma mahesh','krishna','ravi sastry','balu','rakesh']
    for name in names:
        if re.search(pattern,name):
            print(name)

In [17]:
find_by_pattern('a')

uma mahesh
krishna
ravi sastry
balu
rakesh

In [18]:
find_by_pattern('s')

uma mahesh
krishna
ravi sastry
rakesh

In [19]:
find_by_pattern('r')

krishna
ravi sastry
rakesh

In [20]:
find_by_pattern('d')

In [21]:
find_by_pattern('h')

uma mahesh
krishna
rakesh

In [22]:
find_by_pattern('sh')

uma mahesh
krishna
rakesh

In [26]:
find_by_pattern('^r') #^r to print the names which are starting with r

ravi sastry
rakesh

In [27]:
find_by_pattern('h$') #h$ to print the names which are ends with h

uma mahesh
rakesh

In [28]:
find_by_pattern('^[abcde]')

balu

In [29]:
find_by_pattern('^[a-e]')

balu

In [30]:
# to print names started with vowels
find_by_pattern('^[aeiou]')

uma mahesh

In [32]:
# to print names ends with vowels
find_by_pattern('[aeiou]$')

krishna
balu

In [34]:
# to print names does not starts with vowels
find_by_pattern('^[^aeiou]')

krishna
ravi sastry
balu
rakesh

In [38]:
# to print names not ends with vowels
find_by_pattern('[aeiou]$')

krishna
balu

In [43]:
# to print names that contains atleast one character or more than one character
find_by_pattern('.')

uma mahesh
krishna
ravi sastry
balu
rakesh

In [44]:
# to print len(name)>=4
find_by_pattern('....')

uma mahesh
krishna
ravi sastry
balu
rakesh

In [45]:
# to print len(name)>=5
find_by_pattern('.....')

uma mahesh
krishna
ravi sastry
rakesh

In [46]:
# to print len(name) == 4
find_by_pattern('^....$')

balu

In [47]:
# to print the names , that exactly contains only alphabets and len(name) == 4
find_by_pattern('^[a-z]{4}$')

balu

In [48]:
# to print the names , that exactly contains only alphabets and minimum length == 4 and maximum == 6
find_by_pattern('^[a-z]{4,6}$')

balu
rakesh

In [49]:
re.search('[0-9]','9876819201')

In [50]:
re.search('[0-9]+','9876819201')

In [51]:
re.search('[a-i]+','haiiiiiiii')

In [52]:
re.search('hai+','haiiiii')

In [54]:
re.match('i+','hiiii')

In [57]:
re.match('i*','hiiii')

In [58]:
re.match('i*','iiii')

In [59]:
re.match('i+','iiiih')

In [60]:
re.findall('\d','16811A0563')

['1', '6', '8', '1', '1', '0', '5', '6', '3']

In [61]:
re.findall('[0-9]','16811A0563')

['1', '6', '8', '1', '1', '0', '5', '6', '3']

In [65]:
# print only digits
re.findall('\D','16811A0563')

['A']

In [66]:
# print except digits
re.findall('\D','j484.,./;\gu5487821prasad')

['j', '.', ',', '.', '/', ';', '\\', 'g', 'u', 'p', 'r', 'a', 's', 'a', 'd']

In [67]:
# print only spaces
re.findall('\s','hello hai how are you')

[' ', ' ', ' ', ' ']

In [68]:
# to print all except spaces
re.findall('\S','hello hai how are you')

['h',
 'e',
 'l',
 'l',
 'o',
 'h',
 'a',
 'i',
 'h',
 'o',
 'w',
 'a',
 'r',
 'e',
 'y',
 'o',
 'u']

In [76]:
# to print a to z , A to Z , 0 to 9 , _
re.findall('[a-z A-Z 0-9 _]','var1bSb_- 82$#')

['v', 'a', 'r', '1', 'b', 'S', 'b', '_', ' ', '8', '2']

In [77]:
# to print a to z , A to Z , 0 to 9 , _
re.findall('\w','var1bSb_- S82$#')

['v', 'a', 'r', '1', 'b', 'S', 'b', '_', 'S', '8', '2']

In [78]:
# to print except a to z , A to Z , 0 to 9 , _
re.findall('\W','var1bSb_- S82$#')

['-', ' ', '$', '#']

# Task
### numbers = [ '9885587654' , '5647839439' , '982838281' , '6799867354' , '93o9289234' ]
### True,False,False,True,False

In [103]:
numbers_list = input().split(',')
for number in numbers_list:
    temp = True
    for i in number:
        if i.isdigit():
            temp = True
        else:
            temp = False
            break
    if (number[0] in ['6','7','8','9']) and (len(number) == 10) and (temp == True):
        print('True')
    else:
        print('False')

9885587654,56478394739,982838281,6799867354,93o9289234
True
False
False
True
False

In [104]:
numbers_list = input().split(',')
for number in numbers_list:
    if re.search('^[6-9]\d{9}',number):
        print('True')
    else:
        print('False')

9885587654,56478394739,982838281,6799867354,93o9289234
True
False
False
True
False